<!DOCTYPE html>
<html ng-app="cbApp">
<head>
    <title>Contacts Book</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-2.2.3.min.js"></script>
    <script src="Scripts/my-js.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-controller="cbCtrl">
    <table class="table-bordered">
        <tr>
            <!--<th>Id</th>-->
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
        <tr ng-repeat="contact in result">
            <td hidden="hidden">{{contact.Id}}</td>
            <td>{{contact.FirstName}}</td>
            <td>{{contact.LastName}}</td>
            <td>{{contact.Address}}</td>
            <td>{{contact.Email}}</td>
            <td>{{contact.Phone}}</td>
            <td><button class="btn btn-link" ng-click="edit(contact.Id)">Edit</button><button class="btn btn-link" ng-click="delete(contact.Id)">Delete</button></td>
        </tr>
    </table>

    <h3>Contact details</h3>
    <table class="container col-md-4">
        <tr>
            <td>FirstName</td>
            <td><input type="text" ng-model="FirstName" /></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" ng-model="LastName" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" ng-model="Address" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" ng-model="Email" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" ng-model="Phone" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="button" value="Add" ng-click="add()"/>
                <input type="button" value="Save" ng-click="update()"/>
            </td>
        </tr>
    </table>
</body>
</html>
