<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEvalService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEvalService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/evals/basic/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEvalService" contract="EvalServiceReference.IEvalService"
                name="BasicHttpBinding_IEvalService" />
            <endpoint address="net.tcp://localhost:8081/evals/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEvalService" contract="EvalServiceReference.IEvalService"
                name="NetTcpBinding_IEvalService">
                <identity>
                    <userPrincipalName value="admin-Komputer\admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>