<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Meta">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/meta" />
        </behavior>
        <behavior name="Default">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Meta" name="EvalServiceLibrary.EvalService">
        <endpoint address="http://localhost:8080/evals/basic/" binding="basicHttpBinding"
                  contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="net.tcp://localhost:8081/evals/" binding="netTcpBinding" 
                  contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="http://localhost:8080/evals/mex" binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>