<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CarRental" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=CarRental.Data.CarRentalContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="CarRental.Business.Services.InventoryService">
        <endpoint address="net.tcp://localhost:8080/InventoryService" binding="netTcpBinding" contract="CarRental.Business.Contracts.ServiceContracts.IInventoryService" />
      </service>
      <service name="CarRental.Business.Services.RentalService">
        <endpoint address="net.tcp://localhost:8080/RentalService" binding="netTcpBinding" contract="CarRental.Business.Contracts.ServiceContracts.IRentalService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>